*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./../images/bg/bg.pn");
    background-size: contain;
    background-color: cadetblue;
}
.mt-100{
    margin-top: 100px;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}
.top-title{
    font-weight: bold;
    color: #c23616;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;  
}
.nav-text{
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px #ccc;
    background-color: #6ab04c;
    padding: 10px;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    z-index: 101;
}
.sticky{
    background-color: #7f8c8d;
    opacity: 0.9;
    font-size: 18px;
    position: 0.3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.sticky a{
    color: whitesmoke;
}
#toggle{
    color: whitesmoke;
    text-align: right;
    display: none;
}
.eki-box :hover{
    transform: skew(-5deg);
    transition: ease-in-out 0.5s ;
}
.eki-box img{
    height: 80%;
}
.nav-respo{
    display: none;
}
.main-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}
.main-menu li{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: 0.3s linear;
    text-decoration: none;
    width: 250px !important;
}
.main-menu li:hover{
    background: #fff;
    color: #2f2f2f;
    transform: scale(1.1);
}
@media screen and (max-width: 768px){

    #toggle{
        display: block;
    }
    .main-menu{
        display: none;
        position: fixed;
        max-width: 400px;
        background: #6ab04c;
        top: 55px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .main-menu.active{
        display: block;
    }
    .cen{
        display: none;
    }
    .top-title{
        display: none;
    }
    .nav-fluid{
        display: none;
    }
    .nav-respo{
        display: block;
    }
    .nav-img{
        display: none !important;
    }
}
.cen{
    background-image: url("./../images/cen2.png");
    background-size: contain;
}
.img-index{
    width: 100%;
    text-align: center;
    
}
.img-index img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANIMATION-INDEX */
.train-0{
    height: 70px;
    opacity: 0;
    animation: 
        animation-0 3s ease-in-out infinite;
}
@keyframes animation-0 {
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    100%{
        transform: translate(1600px,0);
        opacity: 1;
    }
}

.train{
    display: flex;
}

/* ANIMATION-PAGE-1 */
.train-1{
    height: 70px;
    padding-left: 0%;
    opacity: 0;
    position: absolute;
    animation: 
        animation-4 1s ease-in normal;
}
.train-1-1{
    height: 70px;
    padding-left: -5%;
    opacity: 1;
    animation: 
        animation-4-1 6s ease-in normal;
}
@keyframes animation-1 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(2500px,0);
        opacity: 0;
    }
}
@keyframes animation-1-1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ANIMATION-PAGE-2 */
.train-2{
    height: 70px;
    padding-left: 0%;
    opacity: 0;
    position: absolute;
    animation: 
        animation-4 1s ease-in normal;
}
.train-2-1{
    height: 70px;
    padding-left: 25%;
    opacity: 1;
    animation: 
        animation-4-1 6s ease-in normal;
}
@keyframes animation-2 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(2500px,0);
        opacity: 0;
    }
}
@keyframes animation-2-1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ANIMATION-PAGE-3 */
.train-3{
    height: 70px;
    padding-left: 0%;
    opacity: 0;
    position: absolute;
    animation: 
        animation-4 1s ease-in normal;
}
.train-3-1{
    height: 70px;
    padding-left: 55%;
    opacity: 1;
    animation: 
        animation-4-1 6s ease-in normal;
}
@keyframes animation-3 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(2500px,0);
        opacity: 0;
    }
}
@keyframes animation-3-1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ANIMATION-PAGE-4 */
.train-4{
    height: 70px;
    padding-left: 0%;
    opacity: 0;
    position: absolute;
    animation: 
        animation-4 1s ease-in normal;
}
.train-4-1{
    height: 70px;
    padding-left: 75%;
    opacity: 1;
    animation: 
        animation-4-1 6s ease-in normal;
}
@keyframes animation-4 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(2500px,0);
        opacity: 0;
    }
}
@keyframes animation-4-1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.map{
    position: relative;
    text-align: center;
    height: 400px;
    width: 100%;
}
.map-img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation:
        map 4s infinite;
}
.map-img-store{
    height: 80%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    animation: 
        store 4s infinite;
}

.nobita-img{
    height: 40%;
    position: absolute;
    bottom: 0%;
    right: 50%;
    animation:
        nobita 4s infinite;
}
.nobita-text{
    font-size: 30px;
    position: absolute;
    bottom: 30%;
    right: 20%;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    padding-top: 3%;
    opacity: 0;
    animation:
    map 4s infinite;
}
@keyframes map {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotateY(20deg);
    }
}
@keyframes store {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}


@keyframes nobita {
    0%{
        transform: translate(600px,0);
    }
    100%{
        transform: translate(0,0);
    }
}
a{
    text-decoration: none !important;
}

.title-1{
    font-size: 40px;
    color: #6ab04c;
    font-weight: bold;
    text-align: center;
    transition: 0.6s;
}
.title-1:hover{
    color: #6ab04c;
}
.title-2{
    font-size: 30px;
    color: #6ab04c;
    font-weight: bold;
    text-align: center;
}
.title-3{
    font-size: 20px;
    color: #1f2fbd;
}
.title-4{
    font-size: 40px;
    color:burlywood;
    text-align: center;
    font-weight: bold;
}
.title-5{
    font-size: 30px;
    color: burlywood;
    font-weight: bold;
}
.title-6{
    font-size: 20px;
    color: burlywood;
}
.content{
    width: 100%;
    height: 100%;
}
.content img{
    width: 100%;
    height: 100%;
}

.front{
    width: 100%;
    height: 500px;
}
.front img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.border-box{
    border-top: solid 1px gray;

}



.front-slider{
    width: 100%;
    height: 500px;
}
.front-slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.site-map{
    width: 100%;
    text-align: center;
}
.site-map img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    transition: 0.6s;
}
.site-map img:hover{
    transform: scale(1.1);
}

.site-map-left{
    width: 30%;
    float: left;
}
.site-map-right{
    width: 70%;
    float: left;
}
.site-map-right img{
    width: 60%;
    transition: 0.6s;
}
.site-map-right img:hover{
    transform: scale(1.1);
}
.box-left{
    width: 100%;
    height: 500px;
    text-align: center;
}
.box-left img{
    width: 110%;
    padding-top: 20%;
}
.box-right{
    width: 100%;
    text-align: left;
}

.box-right img{
    width: 45%;
}

.para1{
    font-size: 30px;
    font-weight: bold;
    animation:
    para1 1s;
}
@keyframes para1 {
    0%{
        transform: translate(0,100px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
.para2{
    font-size: 28px;
    line-height: 1.5;
    animation:
    para2 3s;
}
@keyframes para2 {
    0%{
        transform: translate(0,400px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
.para3{
    font-size: 28px;
    animation:
    para3 4s;
}
@keyframes para3 {
    0%{
        transform: translate(0,400px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
.para4{
    font-size: 28px;
    animation:
    para4 3s;
}
@keyframes para4 {
    0%{
        transform: translate(0,400px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
#myBtn, #backTop {
	position: fixed;
	z-index: 99;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
    font-weight: bold;
    transition: 0.6s;
}
#myBtn{
	bottom: 60px;
	right: 10px;
    opacity: 0.3;
    background-color: #00cc00;
    border-radius: 50%;
    width: 80px;
	height: 80px;
    color: white;
}
#backTop {
	bottom: 90px;
	right: 100px;
    width: 40px;
	height: 40px;
    color:black;
    opacity: 0.7;
    font-size: 40px;
}

#myBtn:hover {
	background-color: #555;
    opacity: 1;
}
